

<div>
    <h1 mat-dialog-title color="primary">Delete Project</h1>
    
    <mat-divider> </mat-divider>

    <div>
        <form>
            <div mat-dialog-content>
                <p>Are you sure you want to delete the project?</p>
            </div>
   
            <div mat-dialog-actions>
                <button mat-raised-button color="warn" (click)="deleteProject()">Delete</button>
                <button mat-raised-button color="basic" (click)="onCancel()" cdkFocusInitial>Cancel</button>
            </div>
        </form>
    </div>
</div>

