

mat-sidenav-container {
    background-color: #303030;
    /* background-color: white; */
    padding-top: 1%;
    min-height: 85vh;
}

mat-sidenav-content {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .03);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .24), 0 0 2px rgba(0, 0, 0, .12);
}

mat-sidenav {
    background-color: #303030;
    padding-top: 1%;
}

mat-list {
    background-color: white;
}



