<header>
    <mat-toolbar color="primary"> Odin </mat-toolbar>
</header>

<main>
    <mat-sidenav-container>
               
        <mat-sidenav mode="side" opened class="col-3">
            <mat-expansion-panel [expanded]="true">

                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Projects
                        
                    </mat-panel-title>
                </mat-expansion-panel-header>
                        <button mat-raised-button color="primary" 
                                class="mat-odin-button"
                                (click)="openCreateDialog()">
                            <img src="./assets/icons/project-create.svg" alt="Project Create">
                        </button>
                
                <mat-list>
                    <mat-list-item *ngFor="let project of projectService.projectList" 
                                    > 
                        <a title="Project Detail" 
                                [routerLink]="['project/detail', project.id]">
                            {{ project.name }} 
                        </a>
                    </mat-list-item>
                </mat-list>
            </mat-expansion-panel>
        </mat-sidenav>
        
        <mat-sidenav opened mode="side" position="end" class="col-1">
            <div class="panel">

                <mat-list>
                    <mat-list-item>
                        <a mat-raised-button color="primary" class="mat-odin-button" title="Project Dashboard" [routerLink]="['project/detail', projectService.selectedProject.id]">
                            <img src="./assets/icons/details.svg" alt="Project Details">
                        </a>
                    </mat-list-item>
                    <!-- <mat-list-item> 
                            <a mat-raised-button color="primary" class="mat-odin-button" title="Project Team" 
                                [routerLink]="['project/team', projectService.selectedProject.id]">
                                <img src="./assets/icons/people.svg" alt="Project Team">
                            </a>
                    </mat-list-item> -->
                    <mat-list-item>
                        <a mat-raised-button color="primary" class="mat-odin-button" title="Project Settings" [routerLink]="['project/settings', projectService.selectedProject.id]">
                            <img src="./assets/icons/settings.svg" alt="Project Settings">
                        </a>
                    </mat-list-item>
                </mat-list>

            </div>
        </mat-sidenav>

        <mat-sidenav-content class="col-8">
            <div>
                <router-outlet></router-outlet>
            </div>       

        </mat-sidenav-content>
    </mat-sidenav-container>
</main>

<footer>
    <mat-toolbar color="primary"> &copy; 2018 </mat-toolbar>
</footer>





