<div class="panel">

    <div class="row">
        <div class=col-4>
            <mat-toolbar> 
                <h1>
                    Project Settings - {{ projectService.selectedProject.name }} 
                </h1>
            </mat-toolbar>
        </div>
    </div>
    
    <div>
        <h5>Rename Project</h5>
        
        <button mat-raised-button color="accent" (click)="openRenameDialog()">
            Rename
        </button>

    </div>
    
    <mat-divider></mat-divider>
    
    <div>
        <h5>Delete Project</h5>

        <button mat-raised-button color="warn" (click)="openDeleteDialog()">
            Delete
        </button>

    </div>

</div>