<div *ngIf="data.isEdit">
    <h1 mat-dialog-title color="primary">Rename Project</h1>
    <div>
        <form>
            <div mat-dialog-content>
            <p>Choose a new name for the project</p>
            <mat-form-field style="width: 100%;">
                <input matInput placeholder="Type new name here" name="name" [(ngModel)]="data.animal">
            </mat-form-field>
            </div>
            <div mat-dialog-actions>
            <button mat-raised-button color="accent" [mat-dialog-close]="data.animal">Rename</button>
            <button mat-raised-button color="basic" (click)="onCancel()" cdkFocusInitial>Cancel</button>
            </div>
        </form>
    </div>
</div>


<div *ngIf="data.isCreate">
    <h1 mat-dialog-title color="primary">Create Project</h1>
    <div>
        <form>
            <div mat-dialog-content>
                <p>Choose a name for the new project</p>
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="Type the name here" name="name" [(ngModel)]="data.animal">
                </mat-form-field>
            </div>
            <div mat-dialog-actions>
                <button mat-raised-button color="primary" [mat-dialog-close]="data.animal">Create</button>
                <button mat-raised-button color="basic" (click)="onCancel()" cdkFocusInitial>Cancel</button>
            </div>
        </form>
    </div>
    
</div>